@font-face {
  font-family: "8bitoperator_jve";
  src: url("fonts/8bitoperator_jve.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "8BitOperatorJVE", monospace;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 30px;
}
body {
    background-color: black;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
    }
p {
    color: white;
}
.small {
    transform: scale(0.5)
}
h5 {
    color: white;
    margin-left: 100px
}
h5 sans1 {
    margin-left: 200px;
}
.smaller {
    transform: scale(0.55)
}
.Bigger {
transform: scale(1.55)
}
.image-row {
  display: flex;               
  justify-content: center;     
  align-items: center;         
  gap: 20px;                   
}
.sixsmall {
    transform: scale(0.9)
}
.imagerow {
      display: flex;              
  justify-content: center;     
  align-items: center;         
  gap: 1px;   
}
.verysmall {
    transform: scale(0.9)
}
.runningoutofadjectives {
transform: scale(0.76)
}
.rowofplaces {
display: flex;              
  justify-content: left;     
  align-items: left;         
  gap: 1px;   
}
p.Ruins {
    margin-left: 85px;
}
p.Snowdin {
    margin-left: 175px;
}
p.Waterfall {
    margin-left: 157px;
}
p.Hotland {
    margin-left: 170px;
}
p.core {
    margin-left: 200px;
}
p.HOME {
    margin-left: 210px;
}
.wowanotherrow {
    display: flex;               
  justify-content: left;     
  align-items: left;         
  gap: 20px; 
}
.makeitalilsmallermaybelike05orsum {
    transform: scale(0.7)
}
.row {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;
}
p.mtebott {
    margin-left: 110px;
}
p.sixsouls {
margin-left: 190px;
}
.rowofscientists {
   display: flex;
    justify-content: left;
    align-items: left;
    gap: 5px;   
    transform: scale(0.5);
    margin-left: 10px;
}
.ehimlazy {
       display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;   
}
.badtime {
    transform: scale(1.1);
}
.wewe {
     display: flex;
    justify-content: left;
    align-items: left;
}
.erer {
    transform: scale(0.67)
}
p.best {
    margin-left: 60px;
}
.finalihope {
     display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;   
}
.e{
    transform: scale(1.1)
}
.end {
    margin-left: 600px;
}