p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 30px;
}
body {
    background-color: black;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
    }
p {
    color: white;
}
.small {
    transform: scale(0.5)
}
h5 {
    color: white;
    margin-left: 100px
}
h5 sans1 {
    margin-left: 200px;
}
.badtime {
    transform: scale(0.3)
}
.smaller {
    transform: scale(0.55)
}
.Bigger {
transform: scale(1.55)
}
.image-row {
  display: flex;               
  justify-content: center;     
  align-items: center;         
  gap: 20px;                   
}
.sixsmall {
    transform: scale(0.9)
}
.imagerow {
      display: flex;              
  justify-content: center;     
  align-items: center;         
  gap: 1px;   
}
.verysmall {
    transform: scale(0.9)
}
.runningoutofadjectives {
transform: scale(0.76)
}
.rowofplaces {
display: flex;              
  justify-content: left;     
  align-items: left;         
  gap: 1px;   
}
p.Ruins {
    margin-left: 85px;
}
p.Snowdin {
    margin-left: 175px;
}
p.Waterfall {
    margin-left: 157px;
}
p.Hotland {
    margin-left: 170px;
}
p.core {
    margin-left: 200px;
}
p.HOME {
    margin-left: 210px;
}