p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 30px;
}
body {
    background-color: black;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
    }
p {
    color: white;
}
.small {
    transform: scale(0.5)
}
h5 {
    color: white;
    margin-left: 100px
}
h5 sans1 {
    margin-left: 200px;
}
.badtime {
    transform: scale(0.3)
}
.smaller {
    transform: scale(0.55)
}
.Bigger {
transform: scale(1.55)
}
.image-row {
  display: flex;               
  justify-content: center;     
  align-items: center;         
  gap: 20px;                   
}
.sixsmall {
    transform: scale(0.3)
}
.imagerow {
      display: flex;
      display: block;               
  justify-content: center;     
  align-items: center;         
  gap: 9px;   
}